# 가장 큰 제목
## 두번째 큰 제목
### 세 번째 큰 제목

그냥글.

글을 **두껍게** 쓰기, *날려* 쓰기

이렇게 리스트를 쓸수도 있다
* list item1
* list item2
* list item3

1. 첫째
2. 둘째
3. 셋째

* 번호없음1
* 번호없음2
* 번호없음3

경찰청 철창살은 외철창살이냐 쌍철창살이냐?


내가 그린 기린 그림은 잘 그린 기린 그림이고 네가 그린 기린 그림은 잘 못 그린 기린 그림이다.


신인 샹송 가수의 신춘 샹송 쇼

이탈릭체는 *별표*나 _언더바_로.

볼드체는 **별표 두 개**나 __언더바 두 개__로.

**별표와 _언더바_**를 섞어서.

취소선은 ~~물결~~로.

코딩 강의는 역시 [코드잇](https://www.codeit.kr)이죠!

![코드잇](https://www.codeit.kr/static/images/brand/logo_original.png)

'''
python  
print('hello world!')  
for i in range(10):  
    print(i)  
'''

값을 출력하고 싶으면 'print' 함수를 사용하면 됨

구분 선 위

---

구분 선 아래

In [10]:
x = 17

In [11]:
print(x)

17

In [14]:
x

17

In [12]:
print(2 + 5)
print(x)
print(3 * 4)

7
17
12

In [13]:
2 + 5
x 
3 * 4

12

In [15]:
2 + 5
x
print(2 + 5)
print(x)
print(3 * 4)
3 * 4

7
17
12

12

In [23]:
import pandas as pd
df = pd.read_csv('liverpool.csv')

In [24]:
print(df)

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil